@{
    ViewData["Title"] = "Sobre";
}

<div class="text-center">
    <h1>Engenharia Informática, Desenvolvimento web 2022/2023</h1>
    <h2>Aluno: Hugo Marques nº 24171 </h2>
    <h3>Frameworks usadas: ASP.NET, ASP.NET Core MVC e EntityFramework</h3>

</div>