@model database_web.Models.Review

@{
    ViewData["Title"] = "noPerms";
}

<h1>Erro</h1>

<div>
    <h2>Não tem permição para fazer isso</h2>
    <a asp-asp-controller="Home" asp-action="index">Voltar</a>

</div>
