@model database_web.Models.Anuncio

@{
    ViewData["Title"] = "dinheiroInsuf";
}

<h1>Erro</h1>

<div>
    <h2>Saldo insuficiente para executar a compra</h2>
    <a asp-action="index">Voltar</a>
</div>
